#menu {
  display: none;
}
.slicknav_menu {
  display:block;
  position: fixed;
  z-index: 1000;
  left: 0;
  max-width: 1170px;
  margin: auto;
  width: 100%;
  right: 0;
  top: 20px;
  background: transparent;
}
.slicknav_btn {
  background-color: transparent;
}
.slicknav_nav {
  background-color: rgba(11, 11, 11, 0.8);
  float: right;
  width: 100%;
  max-width: 350px;
}