.works-images__wrapper {
  margin: auto;
  max-width: 2000px;
  display: flex;
  flex-flow: row wrap;
}
.works-images__item {
  flex-basis: 100%;
  position: relative;
  transition: 0.3s;
  img {
    width: 100%;
    height: 100%;
  }
  &:hover {
    .works-images__item--hover {
      opacity: 1;
      transition: 0.3s;
    }
  }
}
.works-images__item--hover {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  opacity: 0;
  transition: 0.3s;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background: rgba(0,0,0, 0.7);
}
.works-images__item--hover__headline {
  padding: 5px 0;
  color: #f2f2f2;
  font-family: Montserrat, sans-serif;
  font-size: 15px;
  font-weight: bold;
  text-transform: uppercase;
}
.works-images__item--hover__paragraph {
  padding: 5px 0;
  color: #f2f2f2;
  font-family: Montserrat, sans-serif;
  font-size: 13px;
}
@media only screen and (min-width: 576px) {
  .works-images__item {
    flex-basis: 50%;
  }
}
@media only screen and (min-width: 768px) {
  .works-images__item {
    flex-basis: 33.3%;
  }
}
@media only screen and (min-width: 992px) {
  .works-images__item {
    flex-basis: 25%;
  }
}
@media only screen and (min-width: 1200px) {
  .works-images__item {
    flex-basis: 20%;
  }
}